@model List<Wedding>
<div class="row">
    <h1 class="col-sm-6">@ViewBag.loguser Welcome to Wedding Planner !</h1>
    <a class="col-sm-2" href="/logout">Logout</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var wedding in Model)
        {
            <tr>
                <td>
                   <a href="/wedding/@wedding.wedding_id">@wedding.wedder_one & @wedding.wedder_two</a>
                </td>
                <td>@wedding.date.ToString("D")</td>
                <td>@wedding.guests.Count()</td>
                <td>
                   @{
                       if(wedding.holderid != ViewBag.logid)
                       {
                            if(wedding.guests.Where(g=>g.join_id==ViewBag.logid).SingleOrDefault() ==null)
                            {
                                <a href="/rsvp/@wedding.wedding_id">RSVP</a>;
                            }
                           else
                           {
                               <a href="/unrsvp/@wedding.wedding_id">UNRSVP</a>;
                           }
                        }
                       else
                       {
                          <a href="">Delete</a> ;
                       }
                   }
                </td>
            </tr>
        }
        
    </tbody>
</table>
<div class="row col-sm-3 col-sm-offset-6">
    <a href="/new_wedding"><button class="btn btn-primary">New Wedding</button></a>
</div>
