@model Wedding
<div class="container">
    <div class="col-sm-6">
        <div class="row">
            <h1 class="col-sm-4">@Model.wedder_one & @Model.wedder_two</h1>
            <a class="col-sm-2" href="/Dashboard/@ViewBag.logid">Dashboard</a>
            <a class="col-sm-2" href="/logout">Logout</a>
        </div>
        <div class="row">
            <h3>Date: @String.Format("{0:MMMM dd , yyyy}",Model.date)</h3>
        </div>
        <div class="row">
            <h3>Guests:</h3>
            <ul class="list-group">
                @foreach(var guest in Model.guests)
                {
                    <a href="user/@guest.attendantee.user_id" class="list-group-item">@guest.attendantee.first_name @guest.attendantee.last_name</a>
                }
                
            </ul>
        </div>
    </div>
    <div class="col-sm-6" id ="map" style="width:400px;height:400px;background:yellow">    </div>
</div>
<script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.2), zoom: 10
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7W-f__vu7qAxI8rTYIc2jU_uz95iOBlA&callback=myMap"></script>