@model DashboardModel

<div class="row products">
   
        @for(int i = 1; i <= Model.products.Count ;i++)
        {
            if (@Model.products[i-1].images != null)
                {
                    var base64 = Convert.ToBase64String(@Model.products[i-1].images);
                    var imgsrc = $"data:image/gif;base64,{base64}";
                    <div style="display:none" class="thumbnail col-sm-3 products_hidden">
                    <a href="/product/@Model.products[i-1].product_id" target="_blank">
                        <img src="@imgsrc" alt="Lights" style="width:41px; height:55px;">
                        <div class="caption ">
                            <p class="text-center">@Model.products[i-1].name</p>
                        </div>
                    </a>
                </div>
                }
                else
                {
                    var imgsrc = "#";
                    <div style="display:none"  class="thumbnail col-sm-3 products_hidden">
                    <a href="/product/@Model.products[i-1].product_id" target="_blank">
                        <img src="@imgsrc" alt="Lights" style="width:41px ;height:55px;">
                        <div class="caption">
                            <p class="text-center">@Model.products[i-1].name</p>
                        </div>
                    </a>
                </div>
                }
            if(i%4 == 0)
            {
                <br><br>
            }
        }
   <br>
   <br>
    
</div>
<div class="text-center">
        <a href="#" id="product_show"><u>Show More ...</u></a>
    </div>
<br>
<div class="row orders">
    <h2><u>Recent Orders</u></h2>
    @for(int i = 0; i<Model.orders.Count;i++ )
    {
        var temp = Model.orders[i];
        <p style="display:none" class="orders_hidden">@temp.customer.first_name  purchased  @temp.product.quantity  @temp.product.name</p>
     
    }
    <div class="text-center">
        <a href="#" class="order_show"><u>Show all orders ...</u></a>
    </div>
    
</div>
<div class="row new_customers">
    <h2><u>New Customers</u></h2> 
    @for(int i = 0; i < Model.customers.Count; i++)
    {
        
        var temp = Model.customers[i];
        if(temp.products.Count != 0)
        {
            <p style="display:none" class="customers_hidden"> @temp.first_name purchased @temp.products[0].quantity  @temp.products[0].product.name</p>
        }
        else
        {
            <p style="display:none" class="customers_hidden"> @temp.first_name joined store   @temp.created_at </p>
        }  
       
    }
    <div class="text-center">
        <a href="#" class="customer_show"><u>Show all customers ...</u></a>
    </div>
</div>


