@{
    ViewData["Title"] = "Wall";
}
@Html.Partial("./Partials/Format")
<div class="container">
  <form action="/add_message" method="post">
    <div class="form-group">
      <label class="col-sm-3 control-label" for="message"><strong>Post a message :</strong></label>
      <textarea class="form-control" name="content" rows="4" cols="80"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Post a message">
    </div>
  </form>

  <div class="container">
    <ul>

        @foreach (var message in @ViewBag.messages)
        {
          <li>
            <h4>@message["first_name"] @message["last_name"] - @message["created_at"]</h4>
            <p>@message["content"] </p>
            <ul>
                @foreach(var comment in @ViewBag.comments)
                {
                   if(@comment["message_id"] == @message["message_id"])
                    {
                        <li>
                            <strong>@comment["name"] - @comment["created_at"]</strong>
                            <p>@comment["content"]</p>
                        </li>
                    }
                }
            </ul>
            <form action="/add_comment" method="post">
              <div class="form-group">
                <textarea class="form-control" name="content" rows="8" cols="80"></textarea>
                <input type="hidden" name="message_id" value="@message["message_id"]">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Post">
              </div>
            </form>
          </li>
        }

    </ul>

  </div>
</div>
