
@model View
<h1>Write a new review</h1>
<form class="form-horizontal" action="/add_review" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="@Model.user_name"></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" asp-for="@Model.user_name">
        </div>
        
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="@Model.rest_name"></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" asp-for="@Model.rest_name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="@Model.content"></label>
        <div class="col-sm-3">
            <textarea class="form-control" asp-for="@Model.content"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="@Model.created_at"></label>
        <div class="col-sm-3">
            <input type="date" class="form-control" asp-for="@Model.created_at"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <input type="submit" class="btn btn-primary" value="submit">
        </div>
    </div>

</form>